# Entorno virtual de Python
venv/
env/
.venv/

# Archivos de configuración de entorno
.env
*.env

# Archivos compilados de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so


# Archivos de logs
*.log

# Directorios de archivos estáticos y de medios
static/
media/


# Directorios de caché de pip
__pypackages__/
