{% extends "menu/base_dashboard.html" %}
{% load static %}






{% block content %}
<html>
    <link rel="stylesheet" href="{% static 'styles/courses/style.css' %}">
</html>

<head>
    <title>Course List</title>
</head>
<body>

        <h1>Todos los cursos</h1>
        <div class="course-container">
            {% for course in courses %}
                <div class="course-card">
                    <img src="{{ course.image.url }}" alt="Curso 1" class="course-image">
                    <div class="course-content">
                        <h3 class="course-title">{{ course.name }}</h3>
                        <p class="course-description">{{ course.start_date }}</p>
                        <a href="{% url "courses_view" course.id %} " class="course-button">Más información</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h1>Mis cursos</h1>
        <div class="course-container">
            {% for course in courses_user %}
                <div class="course-card">
                    <img src="{{ course.image.url }}" alt="Curso 1" class="course-image">
                    <div class="course-content">
                        <h3 class="course-title">{{ course.name }}</h3>
                        <p class="course-description">{{ course.start_date }}</p>
                        <a href="{% url "courses_view" course.id %} " class="course-button">Más información</a>
                    </div>
                </div>

                <div class="card">
                    <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.name }}">
                    <div class="card-body">
                        <span class="badge bg-primary">{{ course.category }}</span>
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="text-muted">Nivel: {{ course.level }}</p>
                        <p class="fw-bold {% if course.cost == '0.0' %} text-success {% endif %}">
                            {% if course.cost == '0.0' %} GRATUITO {% else %} ${{ course.cost }} {% endif %}
                        </p>
                        <p class="text-muted">Inicio: {{ course.start_date }} - Fin: {{ course.end_date }}</p>
                        <span class="badge {% if course.status == 'Disponible' %} bg-success {% elif course.status == 'Lleno' %} bg-danger {% else %} bg-warning {% endif %}">
                            {{ course.status }}
                        </span>
                      
                    </div>
                </div>
                
            {% endfor %}
        </div>

</html>

</body>

{% endblock %}
