{% extends "menu/base_dashboard.html" %}
{% load static %}



{% block content %}

<html>
    <link rel="stylesheet" href="{% static 'styles/courses/style.css' %}">
<head>
    <title>Course List</title>
</head>
<body>
    <h1>Vista curso</h1>

        <div class="course-container">

            {{ course.id }}
            {% comment %} {% for course in courses %}
                <div class="course-card">
                    <img src="{{ course.image.url }}" alt="Curso 1" class="course-image">
                    <div class="course-content">
                        <h3 class="course-title">{{ course.name }}</h3>
                        <p class="course-description">{{ course.start_date }}</p>
                        <a href="" class="course-button">Más información</a>
                    </div>
                </div>
            {% endfor %} {% endcomment %}

            {{ course.name }}


        </div>

        <a href="{% url 'payment_method' user_id=user.id course_id=course.id %}">
            <button>Inscribir</button>
        </a>
    </body>



{% endblock %}
