{% extends "include/base_menu.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/courses/style.css' %}">

<head>
    <title>Course List</title>



    <script>
        const fechaInicio = new Date("{{ course.start_date|date:'c' }}");

        function actualizarCuentaRegresiva() {
            const ahora = new Date();
            const diferencia = fechaInicio - ahora;
            const countdownEl = document.getElementById('countdown');
            const totalSegundos = Math.floor(diferencia / 1000);
            const dias = Math.floor(totalSegundos / 86400);

            if (diferencia <= 0 && dias >= -1) {
                countdownEl.innerHTML = "¡El curso ha comenzado!";
                clearInterval(interval);
                return;
            } else if (dias <= -1) {
                clearInterval(interval);
                return;
            }

            const horas = Math.floor((totalSegundos % 86400) / 3600);
            if (dias > 1) {
                countdownEl.innerHTML = `Faltan ${dias} día(s)`;
            }else if (dias==1){
                countdownEl.innerHTML = `Faltan ${dias} día`;
            } else if (horas >= 1) {
                countdownEl.innerHTML = `Faltan ${horas.toString().padStart(2, '0')} horas`;
            } else {
                const minutos = Math.floor((totalSegundos % 3600) / 60);
                const segundos = totalSegundos % 60;
                countdownEl.innerHTML = `El curso comienza en ${horas.toString().padStart(2, '0')}:${minutos.toString().padStart(2, '0')}:${segundos.toString().padStart(2, '0')}`;
            }
        }

        const interval = setInterval(actualizarCuentaRegresiva, 1000);
        actualizarCuentaRegresiva();
    </script>
</head>

<body>
    <h1>Reloj en tiempo real</h1>
    <p id="clock"></p>
    <div id="countdown"></div>

    <h1>Vista curso</h1>
    <div class="course-container" >
        <div class="course-card">
            <img src="{{ course.image.url }}" alt="Curso 1" class="course-image">
        </div>

        <div class="curso-info">
            <h2>{{ course.name }}</h2>
            <div class="chips-container">
                <span class="badge bg-primary">Nivel: {{ course.level }}</span>
                <span class="badge bg-success">Descripción: {{ course.description }}</span>
                <span class="badge bg-success">Estatus: {{ exits }}</span>
                <br><br>
                <span class="badge bg-success">Fecha de inicio: {{ course.start_date }}</span>
                <span class="badge bg-success">Fecha de finalización: {{ course.end_date }}</span>
                <span class="badge bg-success">Slug: {{ course.slug }}</span>
                <span class="badge bg-success">Dias: {{ course.days }}</span>
            </div>
        </div>
    </div>

    <h1>Contenido</h1>
    {% if course.pdf_file %}
        <a href="{{ course.pdf_file.url }}" target="_blank" class="btn-temario">Descargar Temario</a>
    {% else %}
        <p>No hay PDF disponible para este curso.</p>
    {% endif %}

    {% if inscription.status != "Paid" %}

        {% if in_car %}

            <a href="{% url 'car_shop' %}">
                <button class="btn btn-success">Ir al carrito</button>
            </a>

        {% else %}
            
            <a href="{% url 'add_car_shop' course.slug %}">
                <button>Añadir al carrito NEW</button>
            </a>

        {% endif %}
    {% endif %}

    <p>inscription.status = {{ inscription.status }}</p>



</body>

<script>
    window.addEventListener("pageshow", function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
</script>

{% endblock %}
