{% extends "include/base_auth.html" %}

<!DOCTYPE html>


<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto</title>
</head>
{% block content %}

<body>
    <h1>Login Custom</h1>
    <form  method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Login">
    </form>
</body>

token?

Already have an account? <li><a href="{% url "register" %}">Sign up</a></li>

{% endblock %}

</html>