{% extends "include/base_auth.html" %}

<!DOCTYPE html>
<title>Formulario de Contacto</title>
    
{% block content %}
    {% include 'include/messaging.html' %}

<!--     <h1 class="text-center">Login Custom2</h1> -->
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary">Botón primario</button>
        <button class="btn btn-secondary">Botón secundario</button>
        <button class="btn btn-success">Botón de éxito</button>
    </div>
    
    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div class="mt-3">
        <p>Already have an account? <a href="{% url 'register' %}">Sign up</a></p>
        <p><a href="{% url 'password_resete' %}">Reset password</a></p>
    </div>
{% endblock %}
