{% extends "include/base_auth.html" %}

<!DOCTYPE html>
<title>Formulario de Contacto</title>

{% block content %}
    {% include 'include/messaging.html' %}




             <ul class="list-group">
                <li class="list-group-item"><strong>Email:</strong> {{ user.username }}</li>
                <li class="list-group-item"><strong>Nombre:</strong> {{ user.first_name }}</li>
                <li class="list-group-item"><strong>Apellido:</strong> {{ user.last_name }}</li>
                <li class="list-group-item"><strong>Último acceso:</strong> {{ user.last_login }}</li>
                <li class="list-group-item"><strong>Miembro desde:</strong> {{ user.date_joined }}</li>
            </ul>

{% endblock %}